html, body{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7EE8FA;
    position: fixed;
    top: 0;
    width: 100%;
}

li{
    float: right;
}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    background-color: #7EE8FA;
    font-size: 17px;
}

li a:hover:not(.active){
    background-color: #b2effa;
}

.active{
    background-color: #10559A;
    color: white;
}

#home {
    margin-top: 30px;
    background-color: #7EE8FA;
    background-image: linear-gradient(#7EE8FA,#EEC0C6);
    padding-top: 5vh;

}

.right-title{
    margin-top: 15vh;
    padding-right: 10vw;
}

.left-title{
    padding-left: 25vw;
    margin-top: 20vh;
}

.left-text{
    padding-left: 16vw;
}


.welcome-paragraph{
    padding-right: 100px;
}


.column{
    flex: 50%;
}

.column-right{
    flex: 35%;
    margin-right: auto;
}

.row{
    display: flex;
    justify-content: space-between;
}

.gradient-section{
    background-color: #7EE8FA;
    background-image: linear-gradient(#7EE8FA,#EEC0C6);
}

#about-me{
    width: 100%;
}

#projects{
    padding: 10px;
    padding-right: 10vw;
    padding-left: 10vw;
    padding-bottom: 10vh;
}

#footer{
    padding-left: 4vw;
}

#footer-text{
    font-size: 14px;
}

#working-img{
    width: 250px;
    height: 250px;
    margin-top: 120px;
    margin-left: 200px;
}

.proj-img{
    width: 550px;
}